<footer>
  <small>
    This project is maintained by <a href="https://github.com/twhite96">tiff</a>.
    Check me out <a href="https://tiffanywhitedev.bio.link/"><i>everywhere</i></a>.
    <em>Last updated: {{config.lastUpdated}}
  </small>
</footer>
