<footer>
  <small>
    This project is maintained by <a href="https://tiffanywhite.dev">tiff</a>.
    Check me out <a href="https://tiffanywhitedev.bio.link/"><i>everywhere</i></a>.
  </small>
</footer>
